/* styles/selectStyles.module.css */
.selectContainer {
    width: 100%; /* Ancho completo del contenedor */
    margin-bottom: 20px; /* Espacio inferior */
  }
  
  .containerSelect {
    display: flex; /* Usar flexbox para alinear elementos */
    align-items: center; /* Centrar verticalmente */
    margin-bottom: 20px; /* Espacio inferior */
  }
  
  .selectLabel {
    font-weight: bold;
    background-color: #D9D9D9; /* Fondo del label */
    color: #484848; /* Color del texto */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde del label */
    border-right: none; /* Eliminar el borde derecho */
    border-radius: 4px 0 0 4px; /* Bordes redondeados */
    white-space: nowrap; /* Evitar que el texto se divida */
    outline: 1px solid #484848;
  }
  
  .select {
    outline: 1px solid #484848;
    width: 100%; /* Ancho completo */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde del select */
    border-left: none; /* Eliminar el borde izquierdo */
    border-radius: 0 4px 4px 0; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    background-color: white; /* Color de fondo */
    cursor: pointer; /* Cambiar cursor */
    appearance: none; /* Eliminar la apariencia predeterminada del select */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewBox="0 0 10 5"><polygon points="0,0 5,5 10,0" fill="black"/></svg>'); /* Icono de flecha */
    background-repeat: no-repeat; /* No repetir el icono */
    background-position: right 10px center; /* Posicionar el icono */
    background-size: 10px; /* Tamaño del icono */
  }
  
  /* Estilos para hover y foco */
  .select:hover {
    border-color: #888; /* Cambia el color del borde al pasar el mouse */
  }
  
  .select:focus {
    outline: none; /* Eliminar el contorno por defecto */
    border-color: #007bff; /* Color de borde al enfocar */
  }
  