.inputWrapper {
    display: flex;
    align-items: center;
  }
  
  .inputLabel {
    background-color: #D9D9D9;
    color: #716E6E;
    padding: 10px;
    text-wrap: balance;
    border-radius: 4px 0 0 4px; /* Redondeado solo en la esquina izquierda */
    white-space: nowrap;
  }
  
  .inputField {
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-left: none; /* Elimina el borde izquierdo para que no haya separación */
    border-radius: 0 4px 4px 0; /* Redondeado solo en la esquina derecha */
    flex-grow: 1;
  }
  

/* textArea */
  .textareaStyled {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    resize: none; /* Permitir redimensionar verticalmente */
    min-height: 150px;
  }
  
  .textareaStyled:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
  }
/* Colores para diferentes niveles */
.bajo {
    background-color: #d1e7dd;
    color: #0f5132;
  }
  
  .medio {
    background-color: #fff3cd;
    color: #664d03;
  }
  
  .alto {
    background-color: #f8d7da;
    color: #842029;
  }

  .contenedorTexto {
    background-color: #e8e6e6;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ocupa el 100% del ancho del contenedor */
  }
  .contenedorTexto2{
    margin-top: 20px;
    background-color: #e8e6e6;
    display: flex;
    align-items: center;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    width: 100%; /* Ocupa el 100% del ancho del contenedor */
  }