.inputWrapper {
  display: flex;
  align-items: center;
}

.inputLabel {
  background-color: #D9D9D9;
  color: #404040;
  padding: 10px;
  text-wrap: balance;
  border-radius: 4px 0 0 4px; /* Redondeado solo en la esquina izquierda */
  outline: 1px solid #404040;
  white-space: nowrap;
}


.inputField {
  padding: 10px;
  background-color: #FFFFFF;
  border: 1px solid #404040;
  border-left: none; /* Elimina el borde izquierdo para que no haya separación */
  border-radius: 0 4px 4px 0; /* Redondeado solo en la esquina derecha */
  flex-grow: 1;
}

/* Nuevo estilo para el input cuando el prop styled está activo */
.inputFieldStyled {
  padding: 10px;
  background-color: #f8f9fa; /* Color de fondo claro */
  border: 1px solid #404040; /* Color del borde */
  flex-grow: 1;
}
.inputLabelColumn {
  border: 1px solid #404040; /* Borde en todo el contorno */
  outline: none;
  border-right: none; /* Eliminar borde izquierdo */
  border-radius: 0;
  padding: 10px; /* Espaciado interno */
}
/* Eliminar borde derecho del primer input */
.no-border-right {
  border-right: none;
}

/* Eliminar borde izquierdo del tercer input */
.no-border-left {
  border-left: none;
}

/* textArea */
.textareaStyled {
  width: 100%;
  padding: 10px;
  border: 1px solid #404040;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  resize: none; /* Permitir redimensionar verticalmente */
  min-height: 150px;
}

.textareaStyled:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

/* Colores para diferentes niveles */
.bajo {
  background-color: #d1e7dd;
  color: #0f5132;
}

.medio {
  background-color: #fff3cd;
  color: #664d03;
}

.alto {
  background-color: #f8d7da;
  color: #842029;
}

.contenedorTexto {
  background-color: #e8e6e6;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ocupa el 100% del ancho del contenedor */
}
.inputColumn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  
  margin: 0;
  padding: 0;
  
}

.contenedorTexto2 {
  margin-top: 20px;
  background-color: #e8e6e6;
  display: flex;
  align-items: center;
  padding: 10px;
  text-align: center;
  justify-content: center; /* Alinea el contenido al centro */
  border-radius: 10px;
  width: 100%; /* Ocupa el 100% del ancho del contenedor */
}
